[project]
name = "gfw-raster-analysis-lambda"
version = "2.0.1"
description = "Add your description here"
requires-python = "~= 3.13.0"
dependencies = [
    "asyncclick",
    "geobuf",
    "http3",
    "aws-xray-sdk",
    "lambda-decorators",
    "protobuf",
    "pyproj",
    "codeguru-profiler-agent",
    "mo_parsing",
    "mo_sql_parsing"
]

[tool.setuptools]
packages = ["raster_analysis"]
