detect-secrets
moto[server]
flask
pre-commit
pytest
pytest-cov
# lambdas
shapely~=1.8.5.post1
rasterio[s3]~=1.3.8
aws-xray-sdk
pytest-mock
pyproj~=3.6.0
lambda-decorators~=0.6.0
pytest-env
requests_mock
pandas~=1.5.3
protobuf~=3.20.3
geobuf~=1.1.1
asyncclick
http3